<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.task.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.task.model.Customer">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="source" property="source" />
        <result column="imported_by" property="importedBy" />
        <result column="belong" property="belong" />
        <result column="category" property="category" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertBatch">
        insert into customer (name, phone, city, province, source, imported_by, belong, category, create_time, update_time)
        values
        <foreach collection="customers" item="item" index="index" separator=",">
            (#{item.name}, #{item.phone}, #{item.city}, #{item.province}, #{item.source}, #{item.importedBy}, #{item.belong}, #{item.category}, #{item.createTime}, #{item.updateTime})
        </foreach>
        on duplicate key update phone = values(phone)
    </insert>

    <select id="getIdsByPhoneList" resultType="java.lang.Long">
        select id from customer where phone in
        <foreach collection="phoneList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id = "getCustomersByUserID" resultMap="BaseResultMap">

    </select>

    <select id="queryByImported" resultType="com.macro.mall.tiny.modules.task.model.Customer">
        select * from customer
        <where>
            <if test="list != null and list.size() > 0">
                imported_by in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        limit #{pageSize} offset #{offsetSize}
    </select>


</mapper>
